:root {
    --bold-font-family: 'Tinos', serif;
    --text-color: #fff;
    --border-color: #484958;
    --light-font-family: 'Lato', sans-serif;
    --background-page: #26273B;
    --post-border-color: #6D7A80;
}

.chat__footer{
    width: 630px;
height: 45px;
border:1px solid var(--border-color);
margin-left: 22px;
border-radius: 20px;

}
.chat_Box{
    width:620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.message_box{
    width:500px;
    height:38px;
    background: none;
    border: none;
    font-size: 18px;
    font-family: var(--bold-font-family);
    color:var(--text-color);
    

}
.message_box:focus{
    outline: none;
}
.smileSticker{
    font-size: 18px;
    color:var(--text-color);
    cursor: pointer;
}
.microphone{
    font-size: 18px;
    color:var(--text-color);
    cursor: pointer;
}
.reactsIcon{
    font-size: 18px;
    color:var(--text-color);
    cursor: pointer;
}
.sendBtn{
    color:var(--post-border-color);
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
}