:root {
    --bold-font-family: 'Tinos', serif;
    --text-color: #fff;
    --border-color: #484958;
    --light-font-family: 'Lato', sans-serif;
    --background-page: #26273B;
    --post-border-color: #6D7A80;
}

.pageSetup_Wrap{
    display: flex;
}
.msgpage_Messanger{
    width:670px;
    margin-top: 28px;
    margin-left: 22px;

}
.msgHeader_Component{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-right: 22px;
}
.userName_Msg{
    font-size:22px;
font-style: normal;
font-weight: 700;
line-height: normal;
color:var(--text-color);
font-family: var(--bold-font-family);
cursor: pointer;
}
.userDetails_Msg{
    display: flex;
    align-items: center;
}
.about_msg{
    font-size: 22px;
    color: var(--text-color);
    cursor: pointer;
}
.display_Msg_Component{
    height:450px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 28px;
}
.separationLine{
    border:1px solid var(--border-color);
    margin-top: 12px;
}
